<h1>Vann-Go Studios</h1>

<div class="gridster">
    <ul>
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1"><%= image_tag("van.png") %></li>
        <li data-row="2" data-col="1" data-sizex="1" data-sizey="1"><%= image_tag("gridster_pic_1.png") %></li>
        <li data-row="3" data-col="1" data-sizex="1" data-sizey="1"><%= image_tag("gridster_pic_2.png") %></li>
 
        <li data-row="1" data-col="2" data-sizex="2" data-sizey="1"><%= image_tag("gridster_pic_3.png") %></li>
        <li data-row="2" data-col="2" data-sizex="2" data-sizey="2"><%= image_tag("gridster_pic_4.png") %></li>
 
        <li data-row="1" data-col="4" data-sizex="1" data-sizey="1"><%= image_tag("gridster_pic_5.png") %></li>
        <li data-row="2" data-col="4" data-sizex="2" data-sizey="1"><%= image_tag("gridster_pic_1.png") %></li>
        <li data-row="3" data-col="4" data-sizex="1" data-sizey="1"><%= image_tag("gridster_pic_2.png") %></li>
 
        <li data-row="1" data-col="5" data-sizex="1" data-sizey="1"><%= image_tag("gridster_pic_3.png") %></li>
        <li data-row="3" data-col="5" data-sizex="1" data-sizey="1"><%= image_tag("gridster_pic_4.png") %></li>
 
        <li data-row="1" data-col="6" data-sizex="1" data-sizey="1"><%= image_tag("gridster_pic_5.png") %></li>
        <li data-row="2" data-col="6" data-sizex="1" data-sizey="2"><%= image_tag("gridster_pic_1.png") %></li>
    </ul>
</div>