<div class="header">

   <div class="navbar">
    <div class="navbar-inner">
      <ul class="nav">
        <li>
          <%= link_to "Home", "home" %>
        </li>

        <li>
          <%= link_to "About", "about" %>
        </li>

        <li>
          <%= link_to "Team", "team" %>
        </li>

        <li>
          <%= link_to "Portfolio", "portfolio" %>
        </li>

        <% if signed_in? %>
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Users", users_path %></li>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Account <b class="caret"></b>
                </a>
                  <ul class="dropdown-menu">
                      <li>
                        <%= link_to "Sign out", signout_path, method: "delete" %>
                      </li>
                  </ul>
              </li>
            <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
            <% end %>

        <% if current_user == nil %>
            <li style="margin-top:10px">
              <div class="row">
                <%= form_for(:session, url: sessions_path) do |f| %>
              <div class="span2">
                <%= f.text_field :email, :placeholder => 'Email' %>
              </div>
              <div class="span2">
                <%= f.password_field :password, :placeholder => 'Password' %>
              </div>
              <div class="span1">
                <%= f.submit "Log in", class: "btn-primary" %>
              <% end %>
              </div>
              </div>
            </li>
          <% end %>
</div>

<div>
  <%= image_tag('header_banner.png', :id => "header_banner") %>
</div>

<h1 id="header_title">Vann-go Studios</h1>